@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust the padding as needed */
  position: fixed; /* Set the navbar to a fixed position */
  top: 0; /* Position the navbar at the top of the page */
  z-index: 1000; /* Set a higher z-index to ensure the navbar appears on top */
  width: 70%;
  
  .logo img {
    max-height: 50px; /* Adjust the height as needed */
  }
}

li {
  float: left;
  position: relative;
  padding: 10px 20px;
  overflow: hidden;

  &::after {
    background-color: #000;
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: width 0.35s ease 0s;
    position: absolute;
  }

  &:hover::after {
    width: 100%;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  &.links li a {
    color: #000;
    text-decoration: none;
    font-family: 'Poppins';
  }
}

.signup a {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 1vw;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #000;
  font-family: 'Poppins';

  &:hover {
    background-color: #526ec7;
    box-shadow: 0px 15px 20px rgba(82, 110, 199, 0.4);
    color: #fff;
  }
}

body {
  margin: 0 15vw 0 15vw;
  background-color: #ecf1ff;
}

html {
  scroll-behavior: smooth;
}
