.pa-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  form {
    width: 50%; /* Adjust the width as needed */
  }

  section {
    margin-bottom: 20px;
  }

  section.half-width {
    width: 48%; /* Adjust the width as needed */
  }

