<link rel="stylesheet" href="/css/home.css"> <!-- Add the link to your home.css file -->

<section>
    <div class="centered-text">
    <h1>Bienvenue à l'AssosTemplate de Dijon</h1>
    <p>Discover the endless possibilities of digital fabrication and innovation at our FabLab association. 
    Join us in exploring the latest technologies and turning your ideas into reality. 
    Unleash your creativity and be a part of our vibrant community of makers, creators, and innovators.</p>
    </div>
    <div class="container">
        <div class="box"><h2>Mission and Vision</h2><p>Describe the core values and objectives of the association, emphasizing its purpose and long-term goals. And we are going to serve the people</p><button class="arrow-button">See more<span class="arrow"></span>
    </button></div>
        <div class="box"><h2>Membership Benefits</h2><p>Showcase the advantages of becoming a member, including access to resources, networking opportunities, and exclusive events.</p><button class="arrow-button">See more<span class="arrow"></span>
    </button></div>
        <div class="box"><h2>Achievements</h2><p>Display recent accomplishments or projects undertaken by the association, illustrating its impact and contributions to the community.</p><button class="arrow-button">See more<span class="arrow"></span>
    </button></div>
    </div>
</section>
<section class="section_2">
    <div class="for_who_description">
        <h3>For Who?</h3>
        <p>
        At AssosTemplate, our services cater to a diverse range of individuals and groups, including entrepreneurs, innovators, students, and professionals from various backgrounds. Whether you are a seasoned industry expert, an aspiring creator, or someone with a passion for technological advancements, our platform welcomes all those seeking to explore the realm of digital fabrication and collaborative innovation. Join us and become a part of a vibrant community dedicated to fostering creativity, learning, and technological excellence.
        </p>
    </div>
    <div class="for_who_pic"></div>
</section>

<section class="section_2">
    <div class="for_who_description">
        <h3>How does it work ?</h3>
        <p>
        At AssosTemplate, our services cater to a diverse range of individuals and groups, including entrepreneurs, innovators, students, and professionals from various backgrounds. Whether you are a seasoned industry expert, an aspiring creator, or someone with a passion for technological advancements, our platform welcomes all those seeking to explore the realm of digital fabrication and collaborative innovation. Join us and become a part of a vibrant community dedicated to fostering creativity, learning, and technological excellence.
        </p>
    </div>
    <div class="for_who_pic"></div>
</section>