<link rel="stylesheet" href="/css/membership.css"> <!-- Link to your compiled SCSS file -->

<div class="membership-container">
    <div class="menu-box">
        <button id="membership" class="menu-button">Membership</button>
        <button id="account" class="menu-button">Personal Account</button>
        <button id="projects" class="menu-button">Projects</button>
        <button id="favorite" class="menu-button">Favorite Projects</button>
    </div>

    <div class="membership-content">
        {{> membershipContent}}
    </div>
    <div class="account-content">
        {{> accountContent}}
    </div>
    <div class="projects-content">
        {{> projectsContent}}
    </div>
    <div class="favorite-content">
        {{> favoriteprojectsContent}}
    </div>
</div>

    <script src="/js/membership.js" type="text/javascript"></script>
