<!-- Sample content for the Projects link -->
<div class="pc_container" id="projects">
    <div class="project_count">
        <h2>Projects</h2>
        <p>You have no created a project yet</p>
    </div>
    <div class="new_project">
        <a href="/project/new-project" class="b_new_project" >Create a new project</a>
    </div>
</div>